@font-face {
  font-family: Nunito;
  src: url(./assets/fonts/Nunito-VariableFont_wght.ttf);
}

@font-face {
  font-family: RockSalt;
  src: url(./assets/fonts/RockSalt-Regular.ttf);
}

:root {
  --color-black: hsla(0, 0%, 0%, 1);
  --color-black-light: hsla(0, 0%, 14%, 1);
  --color-gray: hsla(0, 0%, 48%, 1);
  --color-white: hsla(0, 0%, 100%, 1);
  --color-pink: hsla(3, 60%, 69%, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Nunito;
  color: var(--color-black);
}

img {
  max-width: 100%;
}

.wrapper {
  min-height: 100vh;
}

h2 {
  font-size: 1rem;
  font-weight: 900;
  /* color: var(--color-white); */
}

/* # Mobile */

/* ! Header */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./assets/images/Frame\ 2.jpg) no-repeat center;
  background-size: cover;
  padding: 1rem 1rem 0 1rem;
}

h1 {
  font-family: RockSalt;
  font-size: 1rem;
  margin-bottom: 1rem;
}

header div {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

header div p {
  color: var(--color-pink);
  font-size: 1rem;
  font-weight: 900;
  width: 35vw;
  text-align: right;
  margin-bottom: 31.9375rem;
}

/* ! Works Section */

.works-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.works-section h2,
.menu-section h2 {
  background-color: var(--color-pink);
  width: 100%;
  color: var(--color-white);
  text-align: center;
  padding: 1.5rem 0;
}

.steps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 92vw;
  margin-top: 1rem;
}

.steps-container p:nth-of-type(1) {
  color: var(--color-pink);
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.steps-container p:nth-of-type(2) {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* ! Menu Section */

.menu-section {
  margin-bottom: 2rem;
}

.menu-dog {
  height: 34vw;
  background: url(./assets/images/Rectangle\ 3.jpg) no-repeat center;
  background-size: cover;
}

.menu-food {
  height: 60vw;
  background: url(./assets/images/food.png) no-repeat center;
  background-size: 45vw;
  display: flex;
  flex-direction: column;
  padding: 9vw 17vw 0 17vw;
  font-size: 1rem;
  font-weight: 700;
}

.menu-food p:nth-of-type(1) {
  margin-bottom: 58px;
}

.menu-food p:nth-of-type(2) {
  text-align: right;
  margin-bottom: 58px;
}

.menu-food p:nth-of-type(3) {
  margin-left: 40px;
}

.menu-description {
  text-align: center;
  font-size: 1rem;
  padding: 0 1rem;
}

/* ! Footer */

footer {
  color: var(--color-white);
  background-color: var(--color-black-light);
  padding: 1rem;
  text-align: center;
}
footer p {
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

footer p:nth-of-type(1) {
  margin-bottom: 2rem;
}

footer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

footer form input {
  width: 100%;
  font-weight: 700;
  padding: 1.5rem;
  text-align: center;
  border-radius: 35px;
  border: none;
  outline: none;
  cursor: pointer;
}

input[type='email'],
input[type='email']::placeholder {
  color: var(--color-gray);
}

input[type='submit'] {
  color: var(--color-white);
  background-color: var(--color-pink);
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
}

/* # Tablet */

@media only screen and (min-width: 600px) {
  /* ! Header */
  header div p {
    width: 25vw;
    margin-bottom: 31.9375rem;
  }

  /* ! Works Section */
  .steps-container {
    align-items: flex-start;
    text-align: left;
    width: 80vw;
  }

  .steps {
    display: flex;
    justify-content: flex-start;
    align-items: last baseline;
    margin-bottom: 1rem;
  }

  .steps-container p:nth-of-type(1),
  .steps-container p:nth-of-type(2) {
    margin-bottom: 0;
  }

  .steps-container p:nth-of-type(1) {
    margin-right: 1rem;
  }

  /* ! Menu Section */

  .menu-first {
    display: flex;
    margin-bottom: 1rem;
  }

  .menu-dog {
    height: 42vw;
    width: 50vw;
  }

  .menu-food {
    height: 42vw;
    width: 50vw;
    background-size: 30vw;
    padding: 7vw 2vw 0 2vw;
  }

  .menu-food p:nth-of-type(1) {
    margin-bottom: 50px;
  }

  .menu-food p:nth-of-type(2) {
    text-align: right;
    margin-bottom: 60px;
  }

  /* ! Footer */
  footer {
    padding: 1rem 0.5rem;
  }

  footer > p {
    padding: 0 20vw;
  }

  footer form {
    padding: 0 20vw;
  }

  .footer-last {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: baseline;
  }

  .social-media {
    gap: 1rem;
  }
}

/* # Desktop */

@media only screen and (min-width: 900px) {
  /* ! Header */
  header {
    background-position: top right;
    background-size: 50vw;
    align-items: flex-start;
    padding: 0;
  }

  h1 {
    font-size: 1.5rem;
    background-color: var(--color-white);
    width: 100vw;
    text-align: center;
    margin-bottom: 0;
    padding: 1.5rem 0;
  }

  header div {
    display: flex;
    justify-content: flex-end;
    width: 50vw;
    background-color: var(--color-pink);
  }

  header div p {
    color: var(--color-white);
    width: 50%;
    padding: 1.5rem;
    font-size: 1.625rem;
    margin-bottom: 20.8125rem;
  }

  /* ! Works Section */
  .works-section h2,
  .menu-section h2 {
    background-color: var(--color-white);
    color: var(--color-pink);
    font-size: 3rem;
  }

  .steps-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    width: 70vw;
    margin-top: 0;
    gap: 1.5rem;
  }

  .steps {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px hsla(0, 0%, 48%, 0.1);
    height: 20vw;
    padding: 1rem;
    margin: 0;
  }

  /* ! Menu Section */

  .menu-container {
    display: flex;
    justify-content: center;
    gap: 1vw;
  }

  .menu-first {
    margin-bottom: 0;
    gap: 1vw;
  }

  .menu-dog {
    height: 28vw;
    width: 30vw;
    border-radius: 5px;
  }

  .menu-food {
    height: 28vw;
    width: 30vw;
    background-size: 20vw;
    /* padding: 7vw 2vw 0 2vw; */
    border-radius: 5px;
  }

  .menu-food p:nth-of-type(1) {
    /* margin-bottom: 50px; */
  }

  .menu-food p:nth-of-type(2) {
    text-align: right;
    /* margin-bottom: 60px; */
  }

  .menu-description {
    padding: 0 2rem;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-pink);
    color: var(--color-white);
    border-radius: 5px;
  }

  /* ! Footer */
  footer {
    padding: 1rem 0.5rem;
    padding-bottom: 0;
  }

  footer > p {
    padding: 0 30vw;
  }

  footer form {
    padding: 0 30vw;
  }

  .footer-last {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: baseline;
  }

  .social-media {
    gap: 1rem;
  }
}

/* # Large Desktop */
@media only screen and (min-width: 1200px) {
  /* ! Header */

  header {
    background-position: center right;
    background-size: 50vw;
    align-items: flex-start;
    height: 60vh;
  }

  header div {
    height: 100%;
  }

  /* ! Works Section */
  .steps-container {
    width: 80vw;
  }

  .steps {
    height: 15vw;
    width: 25vw;
  }

  /* ! Menu Section */
  .menu-container {
    width: 80vw;
    margin: 0 auto;
  }

  .menu-dog {
    height: 22vw;
    width: 25vw;
  }

  .menu-food {
    height: 22vw;
    width: 25vw;
    background-size: 15vw;
  }

  .menu-food p:nth-of-type(1) {
    /* margin-bottom: 50px; */
  }

  .menu-food p:nth-of-type(2) {
    /* text-align: right; */
    /* margin-bottom: 60px; */
  }

  .menu-description {
    padding: 0 1.6rem;
    width: 25vw;
  }

  /* ! Footer */
  footer {
    padding: 1.5rem 0.5rem;
  }

  footer > p {
    padding: 0 35vw;
  }

  footer form {
    padding: 0 35vw;
  }

  .footer-last {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: baseline;
  }

  .social-media {
    gap: 1rem;
  }
}
}
